

<div id="notifications_list">
	<div class="title">Unsubscribe from notifications</div>
	<%= flash[:message] %>
	<div class="inner">
	<% @unsubscribale_types.each do |type| %>
		<div class="item">
			<%= type %>
			<% if NotifyUser::Unsubscribe.has_unsubscribed_from(@user, type).empty? %>
				<%= link_to "Unsubscribe", notify_user_notifications_unsubscribe_path(:type => type) %>
			<% else %>
				<%= link_to "Subscribe", notify_user_notifications_subscribe_path(:type => type) %>
			<% end %>
		</div>
	<% end %>
	</div>

</div>
