web notifications

<%= link_to 'Mark all as read', notify_user_notifications_mark_all_path %>
<table border="1">
<tr>
	<th>ID:</th>
	<th>Message:</th>
</tr>
<% @notifications.each do |notification| %>
	<tr>
		<td><%= notification.id %></td>
		<td class="<%= !notification.read? ? 'unread' : 'read' %>"><%= link_to notification.message, notify_user_path(notification), :class => 'message', :id => notification.id %></td>
	</tr>
<% end %>
</table>
