<% @notifications.each do |notification| %>
<div>
  <%= render template: "notify_user/#{notification.class.name.underscore}/action_mailer/notification", locals: { notification: notification } %>  
</div>
<% end %>