<% user_hash =  @notifications.first.generate_unsubscribe_hash %>

<% @notifications.each do |notification| %>
<div>
  <%= render template: "notify_user/#{notification.class.name.underscore}/action_mailer/notification", locals: { notification: notification, params: notification.params } %>  
</div>
<% end %>
<br><br>
<%= link_to "Unsubscribe", notify_user_notifications_unauth_unsubscribe_url(:type => @notifications.first.type, :token => user_hash.token)%>
