<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title></title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;">
<div style="width: 100%; height: 70px; margin: 0; padding: 0;">
  <div style="width: 600px; margin: 0 auto; padding: 15px 0;">
    Logo
  </div>
</div>
<div style="width: 100%; background-color: #fff; margin: 0; padding: 0;">
  <div style="width: 500px; margin: 0 auto; padding: 40px 0; ">
    <%= yield %>
  </div>
</div>

<div style="width: 100%; min-height: 80px; margin: 0; padding: 0;">
  <div style="width: 600px; margin: 0 auto; padding: 0;">
    <% if NotifyUser.unsubscribable_notifications.include? @notification.type  %>
      <p style="text-align: center;">
        <%= unsubscribe_link(@notification, "Unsubscribe") %>
      </p> 
    <% end %>
    <p style="text-align: center;">
      This is the default generated layout. A privacy declaration could go here.
    </p>
    <p style="text-align: center; margin-bottom: 0px;">
      © MyCompany Pty Ltd
    </p>
    <p style="text-align: center; margin-top: 0px; padding-top: 0px;">
      ABN 123 456 789
    </p>
  </div>
</div>
</body>
</html>